* {
  margin: 0;
  font-family: "Roboto";
  color: #333;
}

hr{
  border: none;
  height: 2px;
  color: #000;
  background-color: #000;
}

.row-pad{
  padding-top: 10px;
}
.textarea-custom{
  resize:vertical;  
  min-height:100px;
}