* {
  margin: 0;
  font-family: "Roboto";
}

hr{
  border: none;
  height: 2px;
  color: #000;
  background-color: #000;
}

.row-pad{
  padding-top: 10px;
}
.textarea-custom{
  resize:vertical;  
  min-height:100px;
}

.custom-hr{
  color: #0EB4BD;
  background-color: #0EB4BD;
}

.footer-hr{
  height: 2px;
  color: #10B4BC;
  background-color: #10B4BC;
}

.viewUC-row{
  padding-top: 20px;
}

.uc_details{
  border-top: 2px solid #0EB4BD;
  border-bottom: 2px solid #0EB4BD;
}

.uc_details_extra{
  border-top: 2px solid #63CF7C;
  border-bottom: 2px solid #63CF7C;
}

.uc_details_hr{
  padding: 0px;
  margin: 0px;  
  margin-bottom: 5px;
  margin-top: 5px;
}

.border-simple{
  margin: 0px;  
  padding: 4px;
  border: 1px solid #424242;
}

.input-text{
  margin: 0px;  
  padding: 4px;
  border: 1px solid #424242;
}

.modal-ua div {
  border-radius: 0px !important;
}

input{
  border-color: #000000;
  border-radius: 0px;
}

textarea div{
  border-radius: 0px;
}

.form-control{
  box-shadow: none;
  border-radius: 0px;
  border: 1px solid black;
  
}

.form-control:focus{
  box-shadow: 0 0 0 0;
  border-radius: 0px;
  border: 2px solid black;
  outline: none !important;
  border-color: #000000;
  box-shadow: 0 0 10px #000000;
}

.no-decor-link{
  text-decoration: "none"
}
.no-decor-link:link{
  text-decoration: "none"
}
.no-decor-link:hover{
  text-decoration: "none"
}
.no-decor-link:visited{
  text-decoration: "none"
}
.no-decor-link:active{
  text-decoration: "none"
}