.navbar-custom {
    background-color: rgb(122, 184, 255);
    border-bottom: 10px;
}
.navbar-item{
    font-size: large;
}
.content{
    padding-left: 50px;
    padding-right: 50px;
}
.hr-small{
    height:2px;
    margin: auto;
    border-width:0;
    color:gray;
    background-color:gray;
}

img {
    height:256px;
    width:256px;
    object-fit: cover;
}
  